.talk{
    font-size: 30px;
    color: red;
}
.butt1{
    border: none;
    border-radius: 200px;
    background-color: rgb(247, 188, 198);
}
.but{
    padding-top: 10px;
    padding-left: 5%;
}
.my{
    display: inline;
    width: 30%;
    font-size: 70px;
    padding-left: 20px;
}
.ai{
    color: red;
}
.mn{
    display: inline;
    
}
.im2{
    display: inline;
    width: 35%;
}
p{
    padding-left: 10%;
}
.kl{
    border: none;
    background-color: red;
    border-radius: 100px;
    padding: 10px;
    
}
.no{
    padding-left: 10%;
}
.lo{
    margin-top: 10%;
    font-size: 30px;
    color: red;
}
.nb

